@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "OpenSans", sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.focus-visible {
  outline: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1198px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  transition: visibility 0.3s ease-in-out;
}
.overlay.overlay--active {
  visibility: visible;
}

.hero {
  position: relative;
}
.hero__bg {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  margin-bottom: 154px;
}
.header__logo {
  max-width: 269px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 45px;
}
.menu__link {
  display: block;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  transition: color 0.3s linear;
}
.menu__link:hover {
  color: #D3B47F;
}

.phone {
  cursor: pointer;
}
.phone__img {
  width: 24px;
  height: 24px;
  fill: #D3B47F;
  margin-right: 11px;
}
.phone__number {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}