@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.focus-visible {
  outline: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1198px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  transition: visibility 0.3s ease-in-out;
}
.overlay.overlay--active {
  visibility: visible;
}

.hero {
  position: relative;
}
.hero__bg {
  width: 100%;
  height: 900px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
}
.header__logo {
  max-width: 269px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 45px;
}
.menu__link {
  display: block;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  transition: color 0.3s linear;
}
.menu__link:hover {
  color: #D3B47F;
}

.phone {
  cursor: pointer;
}
.phone__img {
  width: 24px;
  height: 24px;
  fill: #D3B47F;
  margin-right: 11px;
}
.phone__number {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  transition: color 0.3s ease-in-out;
}
.phone__number:hover {
  color: #D3B47F;
}

@media (max-width: 1000px) {
  .menu,
  .phone {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header-mobile__burger {
    display: block;
  }
}

.burger__button {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 360px) {
  .burger__button {
    width: 40px;
    height: 20px;
  }
}
.burger__button-icon {
  position: relative;
  width: 50px;
  height: 3px;
  background-color: var(--cerulean);
}

@media (max-width: 360px) {
  .burger__button-icon {
    width: 40px;
  }
}
.burger__button-icon::before {
  position: absolute;
  left: 0;
  top: -15px;
  content: "";
  width: 50px;
  height: 3px;
  background-color: var(--cerulean);
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

@media (max-width: 360px) {
  .burger__button-icon::before {
    width: 40px;
    top: -10px;
  }
}
.burger__button-icon::after {
  position: absolute;
  left: 0;
  top: 15px;
  content: "";
  width: 30px;
  height: 3px;
  background-color: var(--cerulean);
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

@media (max-width: 360px) {
  .burger__button-icon::after {
    width: 20px;
    top: 10px;
  }
}
.burger__button-icon.active {
  background-color: transparent;
}

.burger__button-icon.active::before {
  transform: rotate(45deg);
  width: 30px;
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

@media (max-width: 360px) {
  .burger__button-icon.active::before {
    width: 20px;
  }
}
.burger__button-icon.active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.burger__menu {
  display: none;
  position: fixed;
  z-index: 1;
  margin-top: 90px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 360px) {
  .burger__menu {
    margin-top: 60px;
  }
}
.burger__menu.active {
  display: block;
}

.burger__menu-content {
  position: absolute;
  right: 0;
  top: 0;
  width: 360px;
  height: 710px;
  padding: 40px 60px;
  background-color: var(--white);
  -webkit-animation-name: animatefade;
  animation-name: animatefade;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.burger__menu-list {
  margin-bottom: 40px;
}

.burger__menu-item {
  margin-bottom: 11px;
}

.burger__menu-link {
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-black);
  letter-spacing: 2%;
  text-decoration: none;
  border: none;
  background: var(--white);
}

.burger__menu-tooltip {
  display: none;
}

.burger__menu-tooltip-item {
  padding: 5px 0 5px 20px;
}

.burger__menu-tooltip-link {
  text-decoration: none;
  color: var(--text-black);
}

.burger__menu-link.active + .burger__menu-tooltip {
  display: block;
}

.burger__menu-social {
  width: 184px;
  height: 106px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 67px;
}

.burger__menu-social-link {
  display: inline-block;
  width: 48px;
  height: 48px;
}

.burger__menu-phone,
.burger__menu-mail {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-black);
  text-decoration: none;
}

@-webkit-keyframes animatefade {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatefade {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.main {
  width: 100%;
  color: #fff;
  font-family: Poppins;
  margin: 154px 0 195px;
}
@media (max-width: 998px) {
  .main {
    margin: 120px 0 135px;
  }
}
.main__subtitle {
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 1.44px;
  margin-bottom: 24px;
}
.main__title {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
  margin-bottom: 40px;
}
.main__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__btn {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  width: 270px;
  height: 100px;
  background-color: #3A4574;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}
.main__btn:hover {
  background-color: #565e8f;
}
.main__social {
  display: flex;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  transition: color 0.3s ease-in-out;
}
.social__link:hover {
  color: #D3B47F;
}
.social__icon {
  width: 48px;
  height: 48px;
  border: 2px solid;
  border-color: #fff;
  border-radius: 100%;
  transition: border-color 0.3s ease-in-out;
}
.social__icon:not(:last-child) {
  margin-right: 25px;
}
.social__icon:hover {
  border-color: #D3B47F;
}

.schedule {
  background-color: #fff;
}
.schedule__wrapper {
  display: flex;
  padding: 80px 0 178px;
}
@media (max-width: 1190px) {
  .schedule__wrapper {
    flex-wrap: wrap;
  }
}
.schedule__list {
  color: #000;
  flex-shrink: 0;
}
@media (max-width: 1190px) {
  .schedule__list {
    margin: 0 auto 50px;
  }
}
.schedule__item {
  color: #000;
  font-family: Poppins;
  padding: 20px 0 20px;
  border-bottom: 1px solid #E7E7E7;
}
.schedule__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 10px;
}
.schedule__descr {
  display: flex;
  align-items: center;
  gap: 12px;
}
.schedule__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.schedule__round {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #D3B47F;
}
.schedule__images {
  position: relative;
  width: 471px;
  height: 502px;
  border: 2px solid #D3B47F;
  margin-top: 51px;
  margin-left: 131px;
}
@media (max-width: 1190px) {
  .schedule__images {
    margin: 50px auto 30px;
  }
}
.schedule__img {
  position: absolute;
  z-index: 1;
}
.schedule__img:nth-child(1) {
  top: 101px;
  left: -97px;
}
.schedule__img:nth-child(2) {
  top: -51px;
  right: -100px;
}

.service {
  background-color: #3A4574;
  padding: 220px 0 220px;
}
@media (max-width: 998px) {
  .service {
    padding: 100px 0;
  }
}
.service__slider {
  position: relative;
  max-width: 1070px;
}
.service__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 780px;
}
.service__img {
  margin-bottom: 34px;
}
.service__title {
  color: #D3B47F;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
}
.service__text {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 40px;
}
.service__suptitle {
  color: #D3B47F;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 5.88px;
}

.swiper-wrapper {
  max-width: 1070px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev {
  position: absolute;
  left: 0;
  color: #D3B47F;
}

.swiper-button-prev.swiper-button-disabled {
  color: #fff;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next {
  position: absolute;
  right: 0;
  color: #D3B47F;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  color: #fff;
  opacity: 1;
  cursor: auto;
  pointer-events: none;
}

@media (max-width: 998px) {
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-button-disabled {
    display: none;
  }
}