<header class='header'>
  <div class='header__logo'>
    <img src='./img/logo-header.png' alt='' class='header__logo_img'>
  </div>
  <ul class='header__menu menu list-reset'>
    <li class='menu__item'><a href='' class='menu__link'>À la carte</a></li>
    <li class='menu__item'><a href='' class='menu__link'>Wijnkaart</a></li>
    <li class='menu__item'><a href='' class='menu__link'>Lunchmenu</a></li>
    <li class='menu__item'><a href='' class='menu__link'>Contact</a></li>
  </ul>
  <div class='header__phone phone'>
    <svg class='phone__img'>
      <use xlink:href='./assets/icons/sprite.svg#call-calling'></use>
    </svg>
    <div class='phone__number'>+32 9 282 57 25</div>
  </div>
</header>