<section class='main'>
  <p class='main__subtitle'>OPEN EVERYDAY 6AM - 9PM</p>
  <h1 class='main__title'>A bad day with lunch is better than a good day without it.</h1>
  <div class='main__socials'>
    <button class='btn-reset main__btn'>Reserve a table</button>
    <ul class='main__social social'>
      <li class='social__icon'>
        <a href='' class='social__link'>Fb</a>
      </li>
      <li class='social__icon'>
        <a href='' class='social__link'>Ig</a>
      </li>
      <li class='social__icon'>
        <a href='' class='social__link'>Tw</a>
      </li>
      <li class='social__icon'>
        <a href='' class='social__link'>Yt</a>
      </li>
    </ul>
  </div>
</section>