<div class='schedule__wrapper'>
  <ul class='schedule__list'>
    <li class='schedule__item'>
      <h2 class='schedule__title'>Woensdag 12/01</h2>
      <div class='schedule__descr'>
        <span class='schedule__text'>Salade met Serrano</span>
        <span class='schedule__round'></span>
        <span class='schedule__round'></span>
        <span class='schedule__round'></span>
        <span class='schedule__text'>Steak Tartaar</span>
      </div>
    </li>
    <li class='schedule__item'>
      <h2 class='schedule__title'>Donderdag 13/01</h2>
      <div class='schedule__descr'>
        <span class='schedule__text'>Toast Roquefort</span>
        <span class='schedule__round'></span>
        <span class='schedule__round'></span>
        <span class='schedule__round'></span>
        <span class='schedule__text'>Toast Roquefort</span>
      </div>
    </li>
    <li class='schedule__item'>
      <h2 class='schedule__title'>Vrijdag 14/01</h2>
      <div class='schedule__descr'>
        <span class='schedule__text'>Verrassing van de Chef</span>
        <span class='schedule__round'></span>
        <span class='schedule__round'></span>
        <span class='schedule__round'></span>
        <span class='schedule__text'>Penne met Kip en Prei</span>
      </div>
    </li>
    <li class='schedule__item'>
      <h2 class='schedule__title'>Vrijdag 15/01</h2>
      <div class='schedule__descr'>
        <span class='schedule__text'>Verrassing van de Chef</span>
        <span class='schedule__round'></span>
        <span class='schedule__round'></span>
        <span class='schedule__round'></span>
        <span class='schedule__text'>Penne met Kip en Prei</span>
      </div>
    </li>
    <li class='schedule__item'>
      <h2 class='schedule__title'>Vrijdag 16/01</h2>
      <div class='schedule__descr'>
        <span class='schedule__text'>Verrassing van de Chef</span>
        <span class='schedule__round'></span>
        <span class='schedule__round'></span>
        <span class='schedule__round'></span>
        <span class='schedule__text'>Penne met Kip en Prei</span>
      </div>
    </li>
  </ul>
  <div class='schedule__images'>
    <picture class='schedule__img'>
      <source srcset='./img/holl-1.webp' alt=''>
      <source srcset='./img/holl-1.avif' alt=''>
      <img src='./img/holl-1.jpg' alt=''>
    </picture>
    <picture class='schedule__img'>
      <source srcset='./img/holl-2.webp' alt=''>
      <source srcset='./img/holl-2.avif' alt=''>
      <img src='./img/holl-2.jpg' alt=''>
    </picture>
  </div>
</div>