.header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-top: 55px;
  margin-bottom: 154px;
  &__logo {
    max-width: 269px;
    &_img {
    }
  }

  &__menu {
    display:flex;
    justify-content:space-between;
    align-items:center;
  }

  &__phone {
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
}

.menu {
  &__item{

    &:not(:last-child){
      margin-right: 45px;
    }
  }
  &__link {
    display: block;
    color: $white;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    transition: color .3s linear;
    &:hover{
      color: $tan;
    }
  }
}

.phone {
  cursor: pointer;
  &__img {
    width: 24px;
    height: 24px;
    fill:$tan;
    margin-right: 11px;
  }

  &__number {
    color: $white;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    transition: color .3s ease-in-out;
    &:hover{
      color: $tan;
    }
  }
}