// * base
$font-family: 'OpenSans', sans-serif;
$content-width: 1460px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2));

// = colors
$white: #fff;
$black: #000;
$gray:#2C2B2B;
$light:#4c4c4c;
$hold:#808080;
$list-title:#FFD1A0;
$accent: #FFA343;