// * base
$font-family: 'Poppins', sans-serif;
$content-width: 1168px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2));

// = colors
$white: #fff;
$black: #000;
$gray:#808080;
$tan:#D3B47F;
$accent: #5565a9;
$accent-hover: #6c81de;